:root {
    --white: #FFFFFF;
    --black: #000000;
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    
    --sm: 14px;
    --md: 16px;
    --lg: 18px;

    --card-size-desktop: 240px;
    --card-size-mobile: 148px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Quicksand', sans-serif; 
}

.cards-container {
    margin: 12px 0;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, var(--card-size-desktop));
    gap: 20px;
}

.product-card {
    width: var(--card-size-desktop);
    margin: auto;
}

.product-card .product-img {
    margin-bottom: 6px;
    width: var(--card-size-desktop);
    height: var(--card-size-desktop);
    border-radius: 20px;
    object-fit: cover;
}

.product-info {
    display: flex;
    place-content: space-between;
    align-items: center;
}

.product-info div p:nth-child(1) {
    font-weight: bold;
}

.product-info div p:nth-child(2) {
    font-weight: bold;
    color: var(--very-light-pink);
}

.product-card .add-to-car {
    object-fit: cover;
    width: 36px;
    height: 36px;
}


@media (max-width: 640px) {
    .cards-container {
        display: grid;
        grid-template-columns: repeat(auto-fill, 160px);
        gap: 15px;
    }   

    .product-card .product-img {
        width: var(--card-size-mobile);
        height: var(--card-size-mobile);
        border-radius: 10px;
        object-fit: cover;
    }

    .product-card {
        width: var(--card-size-mobile);
    }

    .product-card .add-to-car {
        width: 36px;
        height: 36px;
    }
}
